<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bootstrap 4 Starter</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body id="home">

  <!-- NAVBAR -->
  <div class="navbar navbar-toggleable-md bg-faded">
    <div class="container">
      <button class="navbar-toggle navbar-toggler navbar-toggler-right mt-2" data-toggle="collapse" data-target="#navbarNav" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span><i class="fa fa-navicon"></i></span>
         </button>
      <a href="#" class="navbar-brand">
           <img src="../img/jbm-logo-silver.png" class="mr-1" src="#" alt="# Brand Logo" height="50" width="50">
           <h4 class="d-inline text-muted"> DESIGNS</h4>
         </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="#home" class="nav-link active">Home</a></li>
          <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
          <li class="nav-item"><a href="#gallery" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- HOME SPLASH -->
  <section id="home-splash" class="text-white">
    <div class="dark-overlay py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-lg-8 text-right p-3">
            <h3 class="display-3 hidden-sm-down">Make your presence felt.</h3>
            <h3 class="display-4 hidden-md-up">Make your presence felt.</h3>
            <p class="lead">Give your message an effective digital strategy.</p>
          </div>
          <div class="col-md-5 col-lg-4 p-4">
            <div class="card card-outline-secondary text-center">
              <div class="card-block lead">
                <h3 class="card-title text-wrapper display-5">Transformation Plans</h3>
                <div class="pr-5">
                  <p class="lead d-inline"> Get you &nbsp;</p>
                  <div class="animated-words d-inline">
                    <span>art </span>
                    <span>message </span>
                    <span>idea </span>
                    <span>ingenuity </span>
                    <span>creation </span>
                  </div>
                </div>
                <p class="lead">to those who need it.</p>
                <hr>
                <p>Don't let your lack of digital strategy prevent you from helping those who are looking for what you have to offer.</p>
                <hr>
                <a href="#" class="btn btn-outline-secondary btn-block-btn-lg">View My Strategy Plans<br><small> w/ hosting as low as 15/month</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PLAN HEAD-->
  <section id="plans-head" class="py-4 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="text-right">
            <h3 class="display-3 hidden-sm-down text-center d-inline">A Strategy For Every</h3>
          </div>
          <h3 class="display-4 hidden-md-up text-center d-inline">A Strategy For Every</h3>
        </div>
        <div class="col-lg-4">
          <div id="animatedWordsPlansHead" class="display-3 animated-words d-inline">
            <span>art </span>
            <span>message </span>
            <span>idea </span>
            <span>ingenuity </span>
            <span>creation </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PLANS SECTION-->
  <section id="plans-section" class="py-4 bg-faded">
    <div class="container">
      <div class="row py-3">

        <div class="col-md-4 py-4">
          <div class="card card-outline-secondary text-center">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-gear mb-3"></i>
                <h5 class="display-5">Simple Webpage</h5>
              </div>
            </div>
            <div class="card-block">
              <p class="lead">4 Pages</p>
              <ul class="list-group">
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-check pr-3 mb-2"></i>  Home/Landing Page <br><small>(designed to convert visitors into patrons)</small>
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-gift pr-3"></i>  Services & Product Description
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-thumbs-up pr-3"></i>Social Media Conection
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-phone pr-3"></i>  Contact Page w/ Form
                </li>
              </ul>
              <hr>
              <h3 class="display-4 text-center"><span class="region-currency"></span>$150.00</h3>
            </div>
            <div class="card-footer d-flex justify-content-center">
              <a href="#" class="btn btn-outline-info"><span class="lead">Simplify and Do More</span><hr><small> w/ hosting as low as <span class="region-currency"></span>15/month</small></a>
            </div>
          </div>
        </div>


        <div class="col-md-4 py-4">
          <div class="card card-outline-secondary text-center">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-sitemap mb-3"></i>
                <h5>Dynamic Website</h5>
              </div>
            </div>
            <div class="card-block">
              <p class="lead">As Many Pages As You Can Create</p>
              <ul class="list-group">
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-smile-o pr-3"></i>Everything of the Simple Plan
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-newspaper-o pr-3"></i>Blog to Get People Viewing
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-camera-retro pr-3"></i>Customizable Photo Galleries
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-send pr-3"></i>HTML Newsletter Setup
                </li>
              </ul>
              <hr>
              <h3 class="display-4 text-center"><span class="region-currency"></span>$250.00</h3>
            </div>
            <div class="card-footer d-flex justify-content-center">
              <a href="#" class="btn btn-outline-info"><span class="lead">Simplify and Do More</span><hr><small> w/ hosting as low as <span class="region-currency"></span>20/month</small></a>
            </div>
          </div>
        </div>


        <div class="col-md-4 py-4">
          <div class="card card-outline-secondary text-center">
            <div class="card-header">
              <div class="card-title">
                <i class="fa fa-shopping-cart mb-3"></i>
                <h5>Sell Your Service Online</h5>
              </div>
            </div>
            <div class="card-block">
              <p class="lead">4 Pages</p>
              <ul class="list-group">
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-exchange pr-3"></i>Participate in Global Exchange
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-paypal pr-3"></i>Paypal Secure Transactions
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-money pr-3"></i>World Currency Translation
                </li>
                <li class="list-group-item mb-2 d-flex justify-content-center">
                  <i class="fa fa-pie-chart pr-3"></i>Analytics For Better Strategy
                </li>
              </ul>
              <hr>
              <h3 class="display-4 text-center"><span class="region-currency"></span>$350.00</h3>
            </div>
            <div class="card-footer d-flex justify-content-center">
              <a href="#" class="btn btn-outline-info"><span class="lead">Simplify and Do More</span><hr><small> w/ hosting as low as <span class="region-currency"></span>30/month</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- HOSTING HEAD -->
  <section id="hosting-head">
    <div class="dark-overlay py-5 text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col hidden-xs-down">
            <h3 class="display-4">Hosting and Maintenance Solutions</h3>
            <p class="lead">for those who want to spend more time kicking ass than fixing bugs</p>
          </div>
          <div id="hosting-head-xs" class="col hidden-sm-up">
            <h3 class="display-4">Hosting and Maintenance Solutions</h3>
            <p class="lead">for those who want to spend more time kicking ass than fixing bugs</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- HOSTING SECTION -->
  <section id="hosting-section" class="py-4 bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pb-4">
          <h3 class="text-center">Deploying Can Be A Pain</h3>
          <p class="text-center"><em>Don't let it stop you from going live with your ideas</em></p>
          <hr>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, porro, voluptatum.
            Natus doloribus laborum praesentium minima, perspiciatis sapiente molestias labore minus iusto quaerat animi
            tempore dolorem! Magnam aspernatur sint maxime.</p>
            <div class="text-center">
              <a href="" class="btn btn-info btn-lg">Deploying Solutions</a>
            </div>
        </div>
        <div class="col-md-5 offset-md-2 pb-4">
          <h3 class="text-center">Never Worry About Maintenance</h3>
          <p class="text-center"><em>Spend your time doing what you love</em></p>
          <hr>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, porro, voluptatum.
            Natus doloribus laborum praesentium minima, perspiciatis sapiente molestias labore minus iusto quaerat animi
            tempore dolorem! Magnam aspernatur sint maxime.</p>
            <div class="text-center">
              <a href="" class="btn btn-info btn-lg">Hosting Solutions</a>
            </div>
          </div>
      </div>
    </div>
  </section>


  <!-- ABOUT ME -->
  <section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="display-4 text-center mb-3">About Me</h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mb-3">
          <img src="../img/jacob.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-4 offset-md-1 mb-3">
          <div class="card card-outline-info">
            <div class="container">
              <div class="card-block">
                <div class="card-title lead text-center"><strong>J</strong>acob <strong>B</strong>rendan <strong>M</strong>cCarthy</div>
                <hr>
                <p>I'm a man of many hats.</p>
                <br>
                <p class="text-right"><span class="text-primary">Explorer.</span> <span class="text-info">Teacher.</span>
                   <span class="text-success">Student.</span> <span class="text-warning">Documentarian.</span>
                   <span class="text-danger">Designer.</span> <span class="text-muted">JBM.</span>
                </p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt repellendus suscipit dolorum maiores repellat, unde rem facilis non ipsum? Libero alias, tempore nulla autem voluptas ipsa quasi harum dolores error.</p>
                <hr>
                <p class="text-center lead">Lorem ipsum dolor sit amet, consectetur.</p>
                <div class="text-center">
                  <a href="" class="btn btn-lg btn-info text-center">See What I've Done</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


  <!-- CONTACT HEADER -->
  <section id="contact-head" class="bg-inverse text-white py-5">
    <div class="container">
      <!-- SMALL AND UP SCREENS -->
      <div class="row hidden-sm-down">
        <div class="col-2">
          <div class="text-center">
            <i class="fa fa-globe display-4"></i>
          </div>
        </div>
        <div class="col-8">
          <h3 class="text-center display-4">People Are Waiting To Find You</h3>
        </div>
        <div class="col-2">
          <div class="text-center">
            <i class="fa fa-globe display-4"></i>
          </div>
        </div>
      </div>
      <!-- PHONES SCREENS -->
      <div class="row hidden-md-up">
        <div class="col">
          <div class="text-center">
            <i class="fa fa-globe display-4"></i>
          </div>
          <h3 class="text-center display-4">People Are Waiting To Find You</h3>
      </div>
    </div>
  </section>


  <!-- CONTACT SECTION -->
  <section id="contact-section">
    <div class="dark-overlay pt-5">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form">
              <div class="form-group text-center">
                <input type="text" class="forn-control form-control-lg mb-2" placeholder="Name">
                <input type="text" class="forn-control form-control-lg" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea name="Message" rows="8" class="form-control form-control-lg" placeholder="What vibes do you want to send out on the interwebs?"></textarea>
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-secondary btn-lg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="bg-inverse text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../img/jbm-logo-white.png" class="p-3" src="#" alt="# Brand Logo" height="150" width="200">
        </div>
        <div class="col-md-4 offset-md-4 p-3">
          <div class="d-block text-center">
            <a href="#home">Home</a>
            <a href="#services">Services</a>
            <a href="#gallery">Gallery</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
          </div>
          <div class="text-center">
            Copyright 2017 &copy; jbm DESIGNS
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="js/jquery.min.js"></script>
  <script src="js/tether.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
