<footer class="bg-inverse text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-white pt-4 pb-2">
        <div class="d-block lead">
          <a href="/">Home</a>
          <a href="#plans-head">Web Plans</a>
          <a href="#hosting-head">Hosting</a>
          <a href="#about">About</a>
          <a href="/contact">Contact</a>
        </div>
        <div class="text-center">
          Copyright 2017 &copy; jbm DESIGNS
        </div>
      </div>
      <div class="col-md-4 pt-4 pb-2">
        <a href="/contact" class="btn btn-lg btn-outline-info">Let Me Make You A Kickass Website</a>
      </div>
      <div class="col-md-4">
        <img src="../img/jbm-logo-white.png" class="p-3" src="#" alt="# Brand Logo" height="150" width="200">
      </div>
    </div>
  </div>
</footer>
