<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body id="home">

<!-- NAVBAR -->
<div class="navbar navbar-toggleable-md bg-faded">
  <div class="container">
    <button class="navbar-toggle navbar-toggler navbar-toggler-right mt-2" data-toggle="collapse" data-target="#navbarNav" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span><i class="fa fa-navicon"></i></span>
       </button>
    <a href="#" class="navbar-brand">
         <img src="../img/jbm-logo.png" class="mr-1" src="#" alt="# Brand Logo" height="50" width="50">
         <h4 class="d-inline"> DESIGNS</h4>
       </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
        <li class="nav-item"><a href="#plans-head" class="nav-link">Web Plans</a></li>
        <li class="nav-item"><a href="#hosting-head" class="nav-link">Hosting</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
