.navbar {

  a.navbar-brand {
    color: #111;
  }

  .fa {
    color: #bbb;
    font-size: 24px;
  }

  .active {
    border-left: #ddd 3px solid;
    padding-left: 8px;
  }

  .navbar-nav {
    padding-right: 1.8em;

    li {
      padding-left: 0.5em;
    }
  }
}

.dark-overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}


#home-splash {
  position: relative;
  background: url(../img/home1.jpg);
  min-height: 630px;
  // background-position: -220px -100px;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #ccc;
  }

  .animated-words span {
    color: #fff;
  }
}

#plans-head {

  .animated-words span {
    color: #000;
    font-style: italic;
  }
}

#plans-section {
  .card-title .fa {
    font-size: 38px;
  }
  .card-block .fa {
    font-size: 30px;
  }
}


#hosting-head {
  position: relative;
  background: url(../img/home2.jpg);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  #hosting-head-xs {
    h3 {
      font-size: 42px;
    }

    p.lead {
      font-size: 18;
    }
  }

}

#hosting-section {
  #host-col hr, #deploy-col hr {
    border-color: #666;
  }
}

#about {
  .btn {
    white-space: normal !important;
    max-width: 200px;
  }

  .fa {
    font-size: 30px;
  }
}

#contact-section {
  position: relative;
  background: url(../img/bologna.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;

}



footer {
  a {
    color: #fff;
  }
  a:hover {
    color: #bbb;
    text-decoration: none;
  }

  .btn {
    white-space: normal !important;
    max-width: 280px;
  }
}


////////////////////////////////////////////////////////////////
// WORDS ANIMATED
////////////////////////////////////////////////////////////////
.text-wrapper {
    text-align: center;
}
.animated-words {
    height: 70px;
    display: inline-block;
}
.animated-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
.animated-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.animated-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.animated-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.animated-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}
.animated-words span {
    position: absolute;
    opacity: 0;
    // overflow: hidden;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}

@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translatey(-30px); }
    5% { opacity: 1; -webkit-transform: translatey(0px);}
    17% { opacity: 1; -webkit-transform: translatey(0px); }
    20% { opacity: 0; -webkit-transform: translatey(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}



////////////////////////////////////////////////////////////////
// MEDIA QUERIES
////////////////////////////////////////////////////////////////


// smart phones
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
  #home-splash{
    height: 900px;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -240px;

  }

  #plans-head {
    height: 250px;

    .animated-words span {
      padding-left: 20px;
    }
  }


    #hosting-head {
      height: 300px;
    }
}

//tablets
@media (min-width:576px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  #home-splash{
    height: 620px;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -240px;
  }

  #plans-head {
    height: 250px;

    .animated-words span {
      padding-left: 20px;
    }
  }

  #hosting-head {
    height: 350px;
  }
}

// small laptops and large tablets
@media (min-width: 768px) and (max-width: 1199px) {
  #plans-head {
    height: 180px;
  }

  #plans-section {
    .btn {
      white-space: normal !important;
      max-width: 200px;
    }
  }

  #hosting-head {
    height: 250px;
  }
}
